{
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "jest": true,
    "require": true,
    "it": true,
    "describe": true,
    "expect": true,
    "beforeEach": true,
    "ga": true
  },
  "rules": {
    "arrow-body-style": 0,
    "new-cap": 0
  }
}
