{
  "plugins": ["meteor"],
  "extends": ["plugin:meteor/recommended", "eslint-config-airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "jest": true,
    "require": true,
    "it": true,
    "describe": true,
    "expect": true,
    "beforeEach": true,
    "ga": true,
    "Meteor": true,
    "$": true
  },
  "rules": {
    "arrow-body-style": 0,
    "new-cap": 0,
    "max-len": 0,
    "no-param-reassign": 0,
    "import/no-unresolved": [2, { ignore: ['meteor'] }]
  }
}
