.navbar-component {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fff;
}

.navbar-logo-title {
  color: #606c76;
  margin-left: 10px;
}

.navbar-logo {
  color: #606c76;
}
