.posts-component {
  margin-top: 20px;
}

.post-writing-btn {
  position: fixed;
  z-index: 1005;
  bottom: 5%;
  right: 10%;
  padding: 12px;
  border-radius: 50%;
  background-color: #eee;
}

.posts-postitem {
  color: #606c76;
}
